apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      tolerations:
        - key: "node"
          operator: "Equal"
          value: "worker"
          effect: "NoSchedule"
      containers:
        - name: nodejs
          image: imaisalama/ivolve-app:latest 
          ports:
            - containerPort: 3000

          # ---- ENV from ConfigMap ----
          envFrom:
            - configMapRef:
                name: mysql-config

          # ---- ENV from Secret ----
            - secretRef:
                name: mysql-secret

          # ---- Mount static PVC ----
          volumeMounts:
            - name: app-logs
              mountPath: /app/logs
      volumes:
        - name: app-logs
          persistentVolumeClaim:
            claimName: app-logs-pvc
