version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8081:8080"
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins
    user: root   # IMPORTANT (needed to access docker.sock)

volumes:
  jenkins-data:

networks:
  jenkins:
    driver: bridge